---
import { getSortedPosts, postUri, jstParts } from "../../../../../utils/posts";
import TwoColumnLayout from "../../../../../layouts/TwoColumnLayout.astro";

export async function getStaticPaths({ paginate }) {
	const posts = await getSortedPosts();
	const byArchive = new Map(); // "YYYY-M" -> posts[]
	for (const post of posts) {
		const [year, month] = jstParts(post.data.date);
		const key = `${year}-${Number(month)}`;
		if (!byArchive.has(key)) byArchive.set(key, []);
		byArchive.get(key).push(post);
	}
	return [...byArchive.entries()].flatMap(([key, list]) => {
		const [year, month] = key.split("-");
		return paginate(list, { pageSize: 10, params: { year, month } });
	});
}

const { page } = Astro.props;
---

<TwoColumnLayout>
<h1>{page.currentPage}ページ</h1>
<ul>
	{page.data.map(post => <li><a href={postUri(post)}>{post.data.title}</a></li>)}
</ul>
{page.url.prev ? <a href={page.url.prev}>Previous</a> : null}
{page.url.next ? <a href={page.url.next}>Next</a> : null}
</TwoColumnLayout>
